[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-heroku = "*"
gunicorn = "*"
validate-email = "*"
python-dotenv = "*"
six = "*"
xlwt = "*"
weasyprint = {extras = ["visual"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
