{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

  <nav aria-label="breadcrumb">
     <ol class="breadcrumb bg-light border rounded px-3 py-2">
       <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
       <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
     </ol>
    </nav>
        <div class="card">
          <div class="card-body">
            <form action="{% url 'add-expenses' %}" method="post">
  {% include "partials/_messages.html" %}
  {% csrf_token %}

  <div class="form-group">
    <label for="id_amount">Amount</label>
    <input
      type="number"
      id="id_amount"
      name="amount"
      class="form-control form-control-sm"
      value="{{ values.amount|default:'' }}"
    >
  </div>

  <div class="form-group">
    <label for="id_description">Description</label>
    <input
      type="text"
      id="id_description"
      name="description"
      class="form-control form-control-sm"
      value="{{ values.description|default:'' }}"
    >
  </div>

  <div class="form-group">
    <label for="id_category">Category</label>
    <select id="id_category" name="category" class="form-control">
      <option value="" disabled {% if not values.category %}selected{% endif %}>Choose...</option>
      {% for cat in categories %}
        <option value="{{ cat.name }}"
          {% if values.category == cat.name %}selected{% endif %}>
          {{ cat.name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="id_date">Date of the Expense</label>
    <input
      type="date"
      id="id_date"
      name="date"
      class="form-control form-control-sm"
      value="{{ values.date|default:'' }}"
    >
  </div>

  <input type="submit" class="btn btn-primary mt-2" value="Submit">
</form>


          </div>
         
        </div> 
</div>

{% endblock  %}
