{% extends "base_auth.html" %}
{% load static %}

{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-6 col-lg-4">
    <div class="card mt-5 border border-gray shadow-sm" style="border-radius: 0;">
      <div class="card-header bg-dark text-white text-center" style="border-radius: 0;">
        <h5 class="mb-0">Reset Your Password</h5>
      </div>
      <div class="card-body p-4">
        <form method="POST" novalidate>
          {% include "partials/_messages.html" %}
          {% csrf_token %}

          <div class="form-group mb-3">
            <input type="email" name="email" placeholder="Enter your email" id="emailField"
              class="form-control form-control-sm border-secondary" style="border-radius: 0;"
              value="{{ fieldValues.email }}" required />
            <div class="invalid-feedback" id="emailFeedback"></div>
          </div>

          <button type="submit" class="btn btn-primary w-100" style="border-radius: 0;">Submit</button>

          <div class="d-flex justify-content-between flex-wrap mt-4 text-sm text-muted">
            <span>Already have an account? <a href="{% url 'login' %}" class="text-decoration-none">Login here</a></span>
            <span>Don't have an account? <a href="{% url 'register' %}" class="text-decoration-none">Sign up</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
