{% extends 'base_auth.html' %}

{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-6 col-lg-4">
    <div class="card mt-5 border border-gray shadow-sm" style="border-radius: 0;">
      <div class="card-header bg-dark text-white text-center" style="border-radius: 0;">
        <h5 class="mb-0">Set New Password</h5>
      </div>
      <div class="card-body p-4">
        {% include "partials/_messages.html" %}
        <form method="POST" novalidate>
          {% csrf_token %}
          
          <div class="form-group mb-3">
            <input type="password" name="password" placeholder="New password"
              class="form-control form-control-sm border-secondary" style="border-radius: 0;" required>
          </div>
          
          <div class="form-group mb-3">
            <input type="password" name="confirm_password" placeholder="Confirm password"
              class="form-control form-control-sm border-secondary" style="border-radius: 0;" required>
          </div>
          
          <button type="submit" class="btn btn-primary w-100" style="border-radius: 0;">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
